name: Publish pre-release package

on:
  push:
    branches:
      - 'release/*'

jobs:
  publish-beta:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.VERSION_BUMP_TOKEN }}
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: yarn

      - name: Compile Typescript
        run: yarn build

      - name: Setup .yarnrc.yml
        run: |
          yarn config set npmAlwaysAuth true
          yarn config set npmAuthToken $NPM_AUTH_TOKEN
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AWELL_HEALTH_PUBLISHER }}

      - name: Bump version to beta
        id: bump_version
        run: |
          npm --no-git-tag-version version prerelease --preid beta
          new_version=$(cat package.json | jq -r '.version')
          git config --global user.name "Awell CI"
          git config --global user.email "ci@awellhealth.com"
          git add package.json .yarn/versions
          git commit -m "ci: bump version to $new_version [skip ci]" && git push
          echo "new_version=$new_version" >> "$GITHUB_OUTPUT"

      - name: Publish to NPM Registry
        run: |
          yarn npm publish --tag beta --access public
